[flake8]
max-line-length = 100
exclude = dist/*,build/*,.ipynb_checkpoints/*,old/*,old_ironpython_ui/*,docs/*
ignore-names = X,Y,Z
docstring-convention = numpy
extend-ignore = F541
application-import-names = tpo
import-order-style = google
inline-quotes = "