# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov*/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
coverage.txt
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
/docs/source/*.rst
!/docs/source/index.rst
/docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints
/notebooks/playground
/notebooks/**/Untitled*.ipynb

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

# GitHub token for tests -- we don't want to commit it!
test/github_token.txt

# Vim swapfiles
*.swp

# macOS
.DS_Store

# Virtual environments
/venv_*/

# Output
/output*

# Microsoft Office temporary files
~$*

# SonarQube
/.sonar
/.scannerwork
/.sonar_creds
/.sonar_token

# Fernet credentials for TPO data
/.tpo_fernet_key

# Ignoring the default file name. We generate it dynamically
/sonar-project.properties

# vscode
/.vscode/settings.json

# direnv
/.envrc

# Data cannot be added. Only encrypted data can be added
*.xlsx
*.xls
*.parquet
*.csv
/data/airflow_conf/vars/secrets.json

# Global configuration is ignored
/config.json

# Ignore generated documentation
/htmldoc

# Ignore PyCharm project settings
.idea/

data/*